h1 {
	color: #ff0000;
	font-family: serif;
	background-color: #f3f372;
}

p {
	color: #0000ff;
	font-family: Lucida Grande;
}

.selected {
	color: #ff0000;
}

.header {
	background-color: #f7f2b4;
	height: 120px;
}

.main {
	background-color: #bdf7f1;
	height 600px;
}

.footer {
	background-color: #ceccf3;
}
.header li{
	list-style: none;
	float: left;
	padding: 33px 20px;
}
.header-logo{
	font-size: 36px;
	float: left;
	padding: 20px 40px;
}
