*{

box-sizing: border-box;

}

body {
	margin: 0;
	font-family: "Hiragino Kaku Gothic ProN";
}

a {
	text-decoration: none;
}

.clear {
  clear: left;
}


.conainer {
	max-width: 1170px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.top-wrapper {
	padding: 180px 0 100px 0;
	background-image: url(img1/prog.jpg);
	background-size: cover;
	color: white;
	text-align: center;
}

.top-wrapper h1 {
 	opacity: 0.8;
	font-size: 45px;
	letter-spacing: 5px
}

.top-wrapper p {
	opacity: 0.8;
}

.python {
background-color: #800080;
}

.java {
background-color: #800000;
margin-right: 10px;
}

.swift{
background-color: #55acee;
}

.btn {
padding: 8px 24px;
color: white;
display: inline-block;
opacity: 0.7;
border-radius: 4px;
}

.btn:hover {
 opacity:1;
}

.btn-wrapper {
margin : 20px 0;
}

.btn-wrapper p {
margin: 10px 0;
}

.fab {
margin-right: 10px
}

.fas{
margin-right: 10px;
}

header {
height: 38px;
width: 100%;
background-color: rgba(102,102,102,0.9);
<!--position: fixed;
top:0;
z-index:10;-->
}

.logo{
width:360px;
margin-top: 10px;
z-index:10;
}

.header-left{
float: left;

}

.header-right {
float: right;
background-color:rgba(102,102,102,0.3);
transition: all 0.5s;
}

.header-right:hover {
background-color:rgba(255,255,255,0.5);
}

.header-right a {
line-height: 25px;
padding: 25px;
color: white;
display: block;
}

.lesson-wrapper {
padding-bottom: 120px;
background-color: #f7f7f7;
text-align: center;
}

.heading {
padding: 60px 0px 30px 0;
color: #5f5d60;
}

.heading h2 {
font-weight: normal;
}

.lesson {
float: left;
width: 25%;
}

.lesson-icon{
position: relative;
}

.lesson-icon p {
position: absolute;
top: 75px;
width: 100%;
color: gray;
}

.txt-contents {
width: 80%;
display: inline-block;
margin: 20px;
font-size: 12px;
color: black;
}

.message {
background-color: #5dca88;
padding: 15px 40px;
cursor: pointer;
box-shadow: 0px 7px #1a7940;
}

.heading h3{
font-weight: normal;
}

.message-wrapper {
border-bottom: 1px solid #eee;
padding-bottom: 80px;
text-align: center;
}

.message:active {
box-shadow:none;
position:relative;
top:7px;
}

footer img {
width:120px;
}

footer p {
color: black;
font-size:12px;
}

footer {
padding-top:0px;
float: left;
}
